<!DOCTYPE html>
<html>
<head>
<!--#include virtual=/includes/head-first.incl.html -->

	<title>NEW TITLE NEEDED</title>
	
<!--#include virtual=/includes/head-2nd.incl.html -->
</head>
<body>

<div id="master">

	<header>

		<!-- One of ... -->
		<!--#include virtual=/includes/page-header-home.incl.html -->
		<!--#include virtual=/includes/page-header-club.incl.html -->
		<!--#include virtual=/includes/page-header-social.incl.html -->
		<!--#include virtual=/includes/page-header-mountains.incl.html -->

		<!--#include virtual=/includes/header-contents.incl.html -->
	
	</header>

	<div id="content">

		<!-- One of ... -->
		<!--#include virtual=/includes/CLUB-AREA.incl.html -->
		<!--#include virtual=/includes/SOCIAL-AREA.incl.html -->
		<!--#include virtual=/includes/MOUNTAIN-AREA.incl.html -->

		<aside id="aside-left">  <!-- or -->
		<aside id="aside-right">
		</aside>  <!-- and -->
		<section id="section-left">
		<section id="section-right">
		</section>
		<section>  <!-- or -->
		</section>
	
	</div> <!-- end content -->

	<footer>

		<!-- One of ... -->
	<!--#include virtual=/includes/CLUB-AREA.incl.html -->
	<!--#include virtual=/includes/SOCIAL-AREA.incl.html -->
	<!--#include virtual=/includes/MOUNTAIN-AREA.incl.html -->

	<!--#include virtual=/includes/kics-blurb.incl.html -->

	</footer>

</div> <!-- end master -->

</body>
</html>